html{
  font-size: 20px;
}

body{
  font-family:"Arial","Meiryo",sans-serif;
}

.google-fonts{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1{
  font-size: 2rem;
  letter-spacing:1.2em;
  text-shadow:1px 1px 2px gray;
  border-bottom:solid 3px rgb(115,115,114);
}

.text-color{
  color:skyblue;
}

.text-color2{
  color: rgb(255,192,203);
}

.decoration{
  text-align: center;
}

#basic p {
  font-weight: bold;
}